@import "tailwindcss";

:root {
  --background: #F5F8FB;
  --background-variant: #ECF0F4;
  --foreground: #1F2937;

  --accent: #3B82F6;
  --accent-hover: #2563EB;
  --accent-secondary: #A78BFA;
  --accent-secondary-hover: #9B7AFD;
  --muted: #6D7581;
  --attention: #F97316;

}

.dark {
  --background: #0D1117;
  --background-variant: #050A12;
  --foreground: #E5E7EB;

  --accent: #3B82F6;
  --accent-hover: #1D4ED8;
  --accent-secondary: #A78BFA;
  --accent-secondary-hover: #8D66FB;
  --muted: #9CA3AF;
  --attention: #F97316;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-background-variant: var(--background-variant);
  --color-accent: var(--accent);
  --color-accent-hover: var(--accent-hover);
  --color-accent-secondary: var(--accent-secondary);
  --color-accent-secondary-hover: var(--accent-secondary-hover);
  --color-muted: var(--muted);
  --color-attention: var(--attention);

  --font-sans: var(--font-sans);
  --font-heading: var(--font-heading);
}


body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading), Arial, Helvetica, sans-serif;
}
